<%= form_for(@cdist_configuration) do |f| %>
  <% if @cdist_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cdist_configuration.errors.count, "error") %> prohibited this cdist configuration from being saved:</h2>

      <ul>
      <% @cdist_configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
